<div class="container" style="padding-bottom: 10%; padding-top: 10%">
  <div class="row text-center"><h1>Cadastration form</h1></div>
  <form [formGroup]="profileForm" (ngSubmit)="submit()">
    <div class="row g-3 py-5" style="padding-left: 15%; padding-right: 15%">
      <div class="col">
        <input
          type="text"
          class="form-control"
          formControlName="firstName"
          placeholder="First name"
          aria-label="First name"
        />
        @if (profileForm.get('firstName')?.invalid && profileForm.get('firstName')?.touched) {
            @for (error of validationMessages.firstName; track $index) {
                @if (profileForm.get('firstName')?.hasError(error.type)) {
                    <span class="text-danger">{{error.message}}</span>
                }
            }
        }
      </div>
      <div class="col">
        <input
          type="text"
          formControlName="lastName"
          class="form-control"
          placeholder="Last name"
          aria-label="Last name"
        />
        @if (profileForm.get('lastName')?.invalid && profileForm.get('lastName')?.touched) {
            @for (error of validationMessages.lastName; track $index) {
                @if (profileForm.get('lastName')?.hasError(error.type)) {
                    <span class="text-danger">{{error.message}}</span>
                }
            }
        }
      </div>
    </div>

    <div class="row g-3" style="padding-left: 15%; padding-right: 15%">
      <div class="col">
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="email@email.com"
          aria-label="Email"
        />
        @if (profileForm.get('email')?.invalid && profileForm.get('email')?.touched) {
            @for (error of validationMessages.email; track $index) {
                @if (profileForm.get('email')?.hasError(error.type)) {
                    <span class="text-danger">{{error.message}}</span>
                }
            }
        }
      </div>
      <div class="col">
        <input
          type="password"
          class="form-control"
          formControlName="password"
          placeholder="Password"
          aria-label="Password"
        />
        @if (profileForm.get('password')?.invalid && profileForm.get('password')?.touched) {
            @for (error of validationMessages.password; track $index) {
                @if (profileForm.get('password')?.hasError(error.type)) {
                    <span class="text-danger">{{error.message}}</span>
                }
            }
        }
      </div>
    </div>
    <div class="col pt-2" style="padding-left: 15%; padding-right: 15%">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>
